@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");
* {
  font-family: "Besley", serif;
  transition: 0.3s;
}
.img {
  height: 450px;
  width: 100%;
  background: rgb(112, 106, 106);
  padding: 20px;
}
h1 {
  font-size: 70px;
  font-weight: 600;
  color: #ff0019;
}
*::selection {
  background: #ff0019;
  color: #fff !important;
}

/* Navigation  */
.navbar {
  padding: 20px;
}
.navbar-brand {
  font-size: 3em;
  color: #fff;
  padding: 0px 60px;
}
.navbar-brand span {
  font-size: 1.5em;
  color: #ff0019 !important;
}
.navbar-nav {
  padding: 0px 60px;
  margin-top: 40px;
}
